@use '../variables' as *;
@use '../layout';

.page-events {
  padding-top: 6 * $spacing;

  .event-grid {
    margin: 2 * $spacing;
    @include layout.responsiveGrid(250px);
  }

  h2 {
    text-align: center;
  }
}
