@use '../variables' as *;
@use '../layout';

.page-home {
  padding-top: 65vh;

  .home-image {
    height: 65vh;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 100%;
    }
  }

  .event-section {
    margin: 2 * $spacing;

    & > h2 {
      text-align: center;
      margin-bottom: 2 * $spacing;
    }
  }

  .event-grid {
    @include layout.responsiveGrid(250px);
    margin: 0 $spacing;

    & > * {
      align-self: start;
    }
  }
}
