@use '../variables' as *;
@use '../layout';
@use 'sass:map';

.component-contact-form {
  padding: $spacing;
  margin: $spacing;
  border: $border;
  border-radius: map.get($border-radius, 'standard');
  background-color: $color-primary;

  h2 {
    margin-top: 0;
  }

  form {
    @include layout.twoThirdsGrid();
  }

  label {
    margin-top: 1 * $spacing;
  }
}
