@use '../variables' as *;
@use '../layout';
@use 'sass:map';

.event-card {
  background-color: $bg-primary;
  padding: $spacing;
  border: $border;
  border-radius: map.get($border-radius, 'standard');

  .event-info {
    @include layout.flex(row, space-between);
    margin-top: $spacing;

    .date {
      font-size: map.get($font-size, 'sm');
    }
  }

  h2 {
    font-size: map.get($font-size, 'md');
  }

  .more-info-container {
    @include layout.flex(row, space-between);
    margin-top: $spacing;
  }

  button {
    border: $border;
    border-radius: map.get($border-radius, 'pill');
    padding: 0.5 * $spacing 1 * $spacing;
    box-shadow: 0px 2px 0 1px black;
    margin-bottom: 0.5 * $spacing;
    cursor: pointer;
  }

  button:hover {
    box-shadow: 0px 1px 0 1px black;
    transform: translateY(1px);
  }

  .details-link:hover {
    transform: scale(1.05);
  }

  .badge {
    border-radius: map.get($border-radius, 'pill');
    padding: 0.25 * $spacing 0.5 * $spacing;
    background-color: rgb(252, 141, 204);
    color: black;
    border: $border;
    font-size: map.get($font-size, 'xs');
  }
}
