@use '../variables' as *;
@use '../layout';
@use 'sass:map';

.event-card {
  background-color: $color-primary;
  padding: $spacing;
  border: $border;
  border-radius: map.get($border-radius, 'standard');

  .event-info {
    @include layout.flex(row, space-between);
    margin-top: $spacing;

    .date {
      font-size: map.get($font-size, 'sm');
    }
  }

  h2 {
    font-size: map.get($font-size, 'md');
  }

  .more-info-container {
    @include layout.flex(row, space-between);
    margin-top: $spacing;
  }

  .details-link:hover {
    transform: scale(1.05);
  }
}
