@use 'variables' as *;

@mixin responsiveGrid($itemWidth: 300px) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($itemWidth, 1fr));
  gap: $spacing;
}

@mixin twoThirdsGrid() {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: $spacing;
}

@mixin flex($direction: row, $justify: flex-start) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

$padding: $spacing;
